.wrapper {
  padding: px2rem(120px) px2rem(60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }

  .inner {
    max-width: px2rem(1080px);
    
    @include mobile {
      max-width: 100%;
      padding: 0 px2rem(8px);
    }
  }
  
  .title {
    font-family: map-get($fonts, heading);
    font-size: px2rem(30px);
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, text);
    text-align: center;
    margin-bottom: px2rem(60px);
  
    @include mobile {
      font-size: px2rem(20px);
    }
  }
  
  .statsContainer {
    display: flex;
    justify-content: center;
    gap: px2rem(30px);
    margin-bottom: px2rem(100px);
    flex-wrap: wrap;
  
    @include mobile {
      gap: px2rem(16px);
    }
  }
  
  .statCircle {
    width: px2rem(180px);
    height: px2rem(180px);
    border: 1px solid map-get($grey, 100);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($grey, white);
  
    @include mobile {
      width: px2rem(140px);
      height: px2rem(140px);
    }
  }
  
  .statLabel {
    font-size: px2rem(14px);
    color: map-get($colors, primary);
    font-weight: map-get($font-weights, semibold);
    margin-bottom: px2rem(8px);
  }
  
  .statValue {
    font-size: px2rem(44px);
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, text);
  
    small {
      font-size: px2rem(20px);
      margin-left: px2rem(2px);
    }
  
    @include mobile {
      font-size: px2rem(32px);
    }
  }
  
  .reviewGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px2rem(24px);
  
    @include mobile {
      grid-template-columns: 1fr;
    }
  }